@color0: #000000;
@color1: #333333;
@color2: #666666;
@color3: #999999;
@color4: #CCCCCC;
@color5: #FFFFFF;

@icon: "fonts/icons/";
.icon (@path) {
    background-image: url("@{icon}@{path}");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto 200%;
    color: transparent;
    text-indent: -9999px;
}

* {
    -moz-user-select: none;
	cursor: default;
	margin: 0;
    outline: medium none;
}
body {
    color: #333333;
    font: normal 13px Roboto, arial, sans-serif;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p {
    font-weight: lighter;    
}
h2 {
    font-size: 1.7em;
    margin-top: 20px;
}
input[type="text"] {
    cursor: text;
}
.left {
    float: left;
}
.right {
    float: right;
}
.block {
    display: block;
}
#desktop {
    height: 100%;
    position: absolute;
    width: 100%;
}
.search {
    * {
        font-size: 1.8em;
    }
    input {
        border: none;
        background: transparent;
        border-bottom: 1px solid #CCCCCC;
        max-width: 300px;
        padding-right: 32px;
        &:focus { 
            outline: none;
            border-color: @color5;
        }
    }
    a {
        margin-left: -44px;
        .icon(@path: "32x32/erase.png")
    }
    a:hover, a:focus, a.active {
        background-position: center bottom;
    }
}

#top-bar {
    background: @color4;
    height: 45px;
    line-height: 40px;
    width: 100%;
    & > * {
        background-color: transparent;
        display: inline-block;
        font-weight: bold;
        height: 45px;
        text-align: center;
    }
    #menu-top-bar {
        width: 55px;
        a {
            height: 100%;
            width: 100%;
            .icon(@path: "menu.png")
        }
        a:hover, a:focus {
            background-position: center bottom;
        }
    }
    #clock {
        line-height: 1.2;
        padding: 7px 2px;
        width: 80px;
    }
}

.show-menu {
    background-color: @color1;
    display: none;
    height: 100%;
    max-width: 350px;
    padding: 35px 25px;
    position: absolute;
    top: 0;
    * {
        color: white;
    }
}